
/* ============= 1. Default Google Font ============= */
	@import url('https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,300,400,500,700,900');
	@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,800,900');
/* ============= 2. Category Banner ============= */
.young-sorting {
  float: right;
  width: 30%;
  min-width : 285px;
}

.young-sorting a {
  width : 100%;
  border: 2px solid #9bcaba;
  border-radius : 30px;
  color: #9bcaba;
  font-family: open sans;
  font-size: 14pt;
  font-weight: bold;
  padding: 7px 30px 7px 59px;
  text-transform: capitalize;

}
.young-sorting a i {
  color: #9bcaba;
  font-size: 18pt;
  margin-left: -30px;
  position: absolute;
}

.young-single-img img {
  backface-visibility: hidden;
  transition: opacity 1s ease 0s, transform 1s ease 0s;
  height: 280px;
  width: 370px;
}

.young-notice-area{
	margin-top: 0px;
	width: 100%;
	min-height: 103px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	font-size: 14px;
	display: block;
}

.young-page-content-wrapper {
	background:#f9f9f9;
}

.young_sorting_filter_place {
	height : 60px;
	position : relative;
}

.young_sorting_filter {
	position: absolute;
	top: 0px;
	right: 0;
	z-index: 50;
	background-color: #fff;
	width: 154px;
	height: 40px;
	border: 1px solid #ccc;
	font-size: 14px;
	text-align: center;
}

.young_sorting_filter label {
	display: inline-block;
	font-size: 14px;
	color : black;
	margin-top : 10px;
	font-weight : bold;
}

.young_sorting_filter select {
	height: 40px;
	position: relative;
	top : -35px;
	opacity: 0;
	font-size: 16px;
	border-radius: 0;
	color: black;
	font-family: 'NanumBarunGothic';
	text-align: center;
	width:100%;
	border:0;
}

.young-grid {
 	float: left;
 	width: 40%;
  	margin-top : 10px;
  	font-size : 16px;
}

.young-grid a {
  	display: block;
  	padding: 0 12px 0 0;
  	position: relative;
}

.young-grid i {
	color : #e0e0e0;
}

.young-product-details > h4 {
  margin: 0 0 5px;
}
.young-product-details > h4 a{
  color: #262626;
  font-family: open sans;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.young-product-details > h4 a:hover{color:#9bcaba;}

.young-product-details-tag i {
  color: #d3d3d3;
}

.young-product-details-tag-place  {
  color: #5b5b5b;
  font-family: open sans;
  font-size: 12px;
  margin-top: 5px;
}

.young-product-details-tag-place-detail  {
  color: #848484;
  font-family: open sans;
  font-size: 11px;
  margin-top: 5px;
}
.young-product-details-price{
	position : relative;
	margin-top : 3px;
}
.young-product-details-price span{
  color: #262626;
  font-family: open sans;
  font-size: 18px;
  font-weight: 600;
  margin-top: 6px;
  margin-bottom : 0px;
}

.young-product-details-price i{
  float : right;
  font-size: 12px;
  margin-top: 6px;
  margin-right : 1px;
  padding-right : 2px;
  color : #9bcaba;
}

/*여기까지 cakelist.jsp*/ 
/* 여기부터 hostpage.jsp */

.young-host-profile-box {
	border-top : 1px solid #e0e0e0;
	background-color : #ffffff;
	margin-top : -35px;
	position : relative;
}

.young-host-profile-box img {
	display : block;
	margin : 25px auto 0px;
	height : 200px;
	width : 200px;
	position : relative;
}

.young-host-profile-box div {
	display : block;
	margin : -10px auto;
	padding-top : 5px;
	width : 100px;
	height : 30px;
	border-radius : 30px;
	text-align : center;
	background-color : #9bcaba;
	color : white;
	font-weight : bold;
	position : relative;
}

.young-host-profile-box-name {
	display : block;
	margin : 20px auto;
	margin-bottom : 0px;
	width : 100px;
	height : 30px;
	text-align : center;
	color : black;
	font-size : 20px;
	font-weight : bolder;
}

.young-host-profile-box-exp {
	display : block;
	margin : 0 auto;
	width : 300px;
	height : 50px;
	text-align : center;
	color : #777777;
	font-size : 15px;
	font-weight : bold;
}

.h_intro em {
	color : #9bcaba;
	font-style : normal;
}

.icon-left {
	color : #C1C1C1;
}

.young_blank {
	height : 80px;
}

.young-rlist {
	width : 100%;
	text-align : left;
	margin-top : 20px;
}

.young-review-mine {
	border-bottom: 1px solid #e0e0e0;
	padding-left:110px;
	position : relative;
}

.young-pfimage {
	position : absolute;	
}

.young-pfimage img{
	width:80px;
	height:80px;
}

.young-guestname{
	margin-top:3px;
}

.young-preview{
	margin-top:11px;
	color : #696969;
	font-size : 18px;
}

.young-extraimg{
	margin-top:15px;
}

.young-infobase {
	margin-top:13px;
}

.young-review-wrap ul li div div a {
	color : #9bcaba;
	font-size : 12px;
	font-weight : bold;
}

.young-infobase-time {
	color : #C7C7C7;
	font-size : 12px;
}

.young-ratearea {
	position : absolute;
	right : 0;
	top : 0;
}

.young-ratearea i {
	margin-top : 3px;
	margin-right : 7px;
	color : #9bcaba;
	font-size : 17px;
}

.young-getridofpaddingtop {
	padding-top : 0px;
}

.young-lesspadding {
	padding-top : 10px;
}

.young-nav-menu-grid {
	float : left;
	width : 20%;
}

.young-nav-menu-grid2 {
	float : left;
	width : 30%;
}


.young-custom-logo img {
 	backface-visibility: hidden;
  	transition: opacity 1s ease 0s, transform 1s ease 0s;
  	height: 100px;
  	width: 100px;
  	float : left;
}

.young-custom-exp {
	margin-left : 10px;
	padding-left : 10px;
	height : 100px;
	float : left;
	width : 50%;
}

.young-custom-button {
	float : right;
	background-color : #9bcaba;
	width : 20%;
	height : 50px;
	text-align : center;
	margin-top : 25px;
	border-radius : 30px;
}

.young-custom-button p {
	vertical-align : middle;	
	color : white;
	margin-top : 13px;
}

.young-bot-margin {
	margin-bottom : 20px;
	max-height : 110px;
	position : relative;
	padding-right : 20px;
}